extends layout

block scripts
    // Angular
    script(type='text/javascript', src='/js/Angular/angularApp.js')
    script(type='text/javascript', src='/js/Angular/Services/promptService.js')
    script(type='text/javascript', src='/js/Angular/Services/requestService.js')
    script(type='text/javascript', src='/js/Angular/Services/eventService.js')
    script(type='text/javascript', src='/js/Angular/Controllers/indexController.js')

block body
    div(ng-app='app')
        div(ng-controller='indexController')
            div#chatContainer
                textarea#messagePool(ng-model='conversationText', disabled)
                input#messageField(type='text', ng-model='messageToSend', ng-keypress='onChatInputKeyPress($event)')
                input#sendMessageButton(type='button', ng-click='sendMessage()', value='Send')
                //input#addRoomButton(type='button', ng-click='addRoom()', value='Add')
                //select#roomList(ng-model='selectedRoom', ng-options='roomName in roomNames', multiple)
                div#roomList
                    div(ng-repeat='roomName in roomNames', ng-click='selectRoom(roomName)', ng-dblclick='switchRoom(roomName)')
                        span {{ roomName }}
                        br
                    input#createRoomButton(type='button', ng-click='createRoom()', value='Create')





