!!!
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel='stylesheet', href='/styles/bootstrap-theme.css')     
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/index.css')


    // Lib
    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js") 
    script(type="text/javascript", src='/js/lib/bootstrap.js')
    script(type="text/javascript", src='/js/lib/bootbox.js')
    script(type="text/javascript", src="/js/lib/angular.min.js")

    block scripts

    body
      block body



    // A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")