textarea {
	resize:none;
}

.disableTextHightlighting = {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


html {
	height: 100%;
	width: 100%;
	cursor: default;

	body {
		height: 100%;
		width: 100%;
		background-color: #f7f7f7;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		#chatContainer {
			position: absolute;
			left:25%;
			top: 26.75%;
			width: 50%;
			height: 53.5%;


			#messagePool {
				position: absolute;
				width: 85.5%;
				height: 92%;

				border: none;
				background-color: #DCD5FF;

				font-size: 18pt;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

			#messageField {
				position: absolute;
				top: 92%;
				width: 85.5%;
				height: 8%;

				font-size: 18pt;
			    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

			#sendMessageButton {
				position: absolute;
				left: 85.5%;
				top: 92%;
				width: 15.5%;
				height: 8%;

				border: none;
				background-color: #866FFF;

				font-size: 18pt;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

			#createRoomButton {

				width: 100%;
				border: none;
				background-color: #ffbb00;

				font-size: 18pt;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;				
			}

			#roomList {
				position: absolute;
				left: 85.5%
				width: 15.5%;
				height: 92%;

				border: none;
				background-color: #f2f2f2;

				text-align: center;
				padding: 0px;

				font-size: 18pt;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

				overflow: auto;
			}
		
		}
	}
}

